{%- assign color_scheme = 'color-' | append: section.settings.color_scheme -%}

<section class="page-404 {{ color_scheme }}">
  <h2 class="page__heading">{{ 'general.404.title' | t }}</h2>
  <p class="center text--404">{{ 'general.404.subtext_html' | t }}</p>

  {%- render 'search-form' -%}
</section>

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}